.access_group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form_item_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection_image {
  margin-top: 25px;
  margin-bottom: 25px;
}
