.access_group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.access_title {
  text-align: center;
}

.collection_image {
  margin-top: 25px;
  margin-bottom: 25px;
}
